#root {
  background-color: rgb(235, 235, 235);
}

.container-fluid {
  display: flex;
  justify-content: center;
}

.sub-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(70, 90, 140);
  width: 100%;
  border: 0;
  padding: 10px 5px 0px 5px;
}

.nav-btn-container {
  text-align: right;
}

.nav-btn-container button {
  background-color: rgb(215, 215, 215);
  color: rgb(70, 90, 140);
}

.nav-btn-container button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.most-popular-container {
  margin: 0;
  padding: 0;
  border: 0;
}
  
.tvshow-card {
  background-color: rgb(70, 90, 140);
  margin: 1rem;
  width: 200px;
  padding: 0;
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
}

.tvshow-card img {
  width: 100%;
  height: 300px;
}

.tvshow-card div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  padding: 3px;
  color: white;
  margin: 0px;
}

.tvshow-card h6 {
  padding: 0;
  color: white;
  margin: 0px;
}

.tvshow-card h5 {
  padding: 0;
  color: rgb(70, 90, 140);
  margin: 0px;
}

.movie-details-link {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.tvshow-card:hover .movie-details-link {
  transform: translateY(0%);
}

.navbar {
  width: 100%;
  background-color: rgb(70, 90, 140);
  display: flex;
  justify-content:space-evenly;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.btn {
  background-color: rgb(70, 90, 140);
  color: white;
}

.btn:hover {
  background-color: #fcbe00;
}

.searchbar-container {
  width: 40%;
}

.searchbar {
  background-color: rgb(255, 255, 255);
  width: 100%;
  border: 0px solid white;
  border-radius: 7px;
  padding: 1px 7px 2px 7px;
  
}

.movie-main-container {
  display: flex;
  margin: 10px 0px;
  background-color: rgb(70, 90, 140);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  width: max-content;
}

.movie-right-container {
  color: white;
  padding: 0px 13px;
  text-align: left;
  width: 100%;
}

.movie-right-container h2 {
  color: #fcbe00;
}

.movie-left-container {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  width: 200px;
  height: max-content;
}

.movie-bottom-info {
  padding: 12px;
  margin: 0px;
  font-weight: 500;
  color: rgb(70, 90, 140);
}

.movie-bottom-info p {
  margin: 0px;
}

.movie-left-container figure {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  width: 200px;
}

.movie-left-container img {
  width: 100%;
}

.movie-left-btn-container {
  display: flex;
  justify-content:space-evenly;
  padding-bottom: 12px;
}

.user-lists-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.list-container {
  background-color: rgb(40, 50, 85);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  width: max-content;
  margin: 7px;
  min-width: 150px;
}

.list-container .btn {
  margin: 0px 0px 0px 20px;
  padding: 2px 6px;
}

.list-container h5 {
  margin: 0px;
}

.list-container ul {
  list-style-type: none;
  padding: 0px;
}

.list-container li {
  list-style-type: none;
  padding: 0px;
}

.list-container p {
  text-decoration: none;
}

.list-head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px 10px 5px;
}

.alert-main-container {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  margin: 10px 0px;
  background-color: #fcbe00;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.alert-main-container p {
  margin: 0;
  font-weight: 500;
}

.alert-btn-container {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

.alert-btn-container .btn:hover {
  background-color: rgb(255, 255, 255);
}

@media (min-width: 768px) { 
  
  .user-lists-container {
    flex-direction: row;
  }

  .movie-main-container {
    display: flex;
    justify-content: center;
    width: 650px;
  }
}
